$pri-color: #ec1f25;
$titleFont: 46px;
$desColor: #2a2a2a;
$linkHoverColor: #41629c;

// 'Montserrat', sans-serif;
// 'Nunito', sans-serif;
// 'PT Sans', sans-serif;
// 'Raleway', sans-serif;
// 'Roboto', sans-serif;
// 'Mukta', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Nunito:wght@300;400;600;700;800&family=PT+Sans:wght@400;700&family=Raleway:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap");

// ----------- Global CSS ----------- //

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mukta", sans-serif;
}

.title {
  color: #222 !important;
  a {
    text-decoration: none;
    line-height: 140% !important;
  }
  a:hover {
    color: $linkHoverColor !important;
    transition: all 0.3s linear;
  }
}

a:hover {
  text-decoration: none;
}

.line {
  border-color: #c1c1c1 !important;
}

.description {
  color: $desColor;
}

// ----------- Global CSS ----------- //

// ------------- Header Starts ------------------- //

header {
  .header-wrapper {
    background: #ffffff;
  }
}

header {
  .logo-wrapper {
    width: 100%;
    padding: 20px 0px 15px;
    background: #fff;
    margin: 0 auto;
    .logo {
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 300px;
        height: 100%;
        object-fit: contain;
      }
    }
    .date {
      color: #505050;
      font-size: 0.75rem;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      margin-top: 10px;
    }
  }
  .income-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .income-wrapper {
      height: fit-content;
      margin: auto 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .nav-bar {
    background: #363435;
    .topnav {
      overflow: hidden;
      background: #363435;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      a:hover {
        background-color: #ddd;
        color: black;
      }
      .icon {
        display: none;
      }
    }

    @media screen and (max-width: 600px) {
      .topnav {
        a:not(:first-child) {
          display: none;
        }
        a.icon {
          float: right;
          display: block;
        }
      }
    }
    @media screen and (max-width: 600px) {
      .topnav.responsive {
        position: relative;
        display: block; // to remove the 'flex' from '.topnav' class
        background: #363435;
        .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        a {
          float: none;
          display: block;
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header {
    .logo-wrapper {
      text-align: center;
      .date {
        float: none;
      }
    }
    .income-top {
      padding-bottom: 15px;
    }
  }
}

@media (max-width: 768px) {
  header {
    .logo-wrapper {
      width: 100%;
      padding-top: 15px;
      .date {
        float: none;
        text-align: center;
      }
      .logo {
        margin: 0 auto;
        width: 300px;
        img {
          width: 100%;
        }
      }
    }
    .income-top {
      padding-bottom: 15px;
    }
  }
}

@media (max-width: 425px) {
  header {
    .logo-wrapper {
      .date {
        float: none;
        text-align: center;
      }
      .logo {
        margin: 0 auto;
        width: 200px;
        img {
          width: 100%;
        }
      }
    }
    .income-top {
      padding-bottom: 15px;
    }
  }
}

// Header ends //

// Navbar starts //

.navbar {
  padding: 5px 0px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  font-family: "Mukta";
  background-color: #0083b3;
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .hide-element {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-left: 40px;
    }
    a {
      line-height: 42px;
      color: black;
      font-size: 17px;
      font-weight: 600;
      color: white;
      letter-spacing: 0.5px;
      text-decoration: none;
      position: relative;

      &:hover {
        color: #ea1202;
      }
      i {
        font-size: 26px;
        top: 7px;
        left: -30px;
        position: absolute;
        color: white;
        cursor: pointer;
      }
    }
    .nav-img {
      margin: -5px 0px;
      height: 48px;
      background: white;
      img {
        height: inherit;
      }
    }

    .dropdown-menu {
      top: 40px;
      padding: 0;
      left: -15px;
      li {
        line-height: 36px;
        padding-left: 10px;
        &:hover {
          background-color: #03486c;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    .dropdown:hover {
      .dropdown-menu {
        display: block;
      }
    }
    .dropdown-menu-desk {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      padding: 0.5rem 0;
      margin: 0.125rem 0 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
      top: 40px;
      padding: 0;
      left: -15px;
      list-style: none;
      li {
        line-height: 36px;
        padding-left: 10px;
        &:hover {
          background-color: #03486c;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    .dropdown:hover {
      .dropdown-menu-desk {
        display: block;
      }
    }
  }
}

.sticky-navbar {
  background-color: #0083b3;
  position: fixed;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 6px 0px;
  transition: padding 0.4s linear;
  .navbar-wrapper {
    a {
      i {
        color: white;
        animation: movebar 0.6s;
        @keyframes movebar {
          0% {
            left: -50px;
          }
        }
      }
    }
    .hide-element {
      a {
        color: white;
      }
      a:hover {
        color: $pri-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-wrapper {
    .hide-element {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      a:nth-child(n + 2) {
        display: none;
      }
    }
  }
}

// mobile navbar
.sidenav {
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 9999999;
  top: 0;
  overflow-x: hidden;
  left: 0;
  background: #00000094;
  padding-top: 0px;
  transition: 0.5s;
  box-shadow: 2px 0px 15px #d2d2d2;
  .sidenavwrap {
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    background-color: #ed3237;
    a:hover {
      color: rgb(199, 199, 199);
    }
    a:nth-child(2) {
      padding-top: 30px;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(230, 230, 230);
    }
  }
  /* width */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #eb1b28;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: $titleFont;
  margin-left: 50px;
  cursor: pointer;
  font-size: 42px;
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 0px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidenav {
  .dropdown {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1a3564;
    display: block;
    transition: 0.3s;
  }
  .dropdown .brBtn {
    font-size: 26px;
    color: #1a3564;
  }

  .dropdown ul {
    display: none;
    list-style: none;
    padding: 0;
    background: none;
  }

  .dropdown ul li {
    border-bottom: 1px solid #ffffff;
  }

  .dropdown ul li a {
    font-size: 20px;
  }

  .dropdown ul.active {
    display: block;
  }

  .dropdown {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1a3564;
    display: block;
    transition: 0.3s;
  }
  .dropdown .brBtn {
    font-size: 26px;
    color: #1a3564;
  }

  .dropdown ul {
    display: none;
    list-style: none;
    padding: 0;
    background: none;
  }

  .dropdown ul li {
    border-bottom: 1px solid #ffffff;
  }

  .dropdown ul li a {
    font-size: 20px;
  }

  .dropdown ul.active {
    display: block;
  }
}
.hide {
  display: block;
}
.openNav {
  font-size: 26px;
  color: #1a3564;
  margin-left: 30px;
}
@media (max-width: 992px) {
  .openNav {
    display: block;
  }
  .hide {
    display: none;
  }
  .sidenav {
    .sidenavwrap {
      width: 100%;
    }
  }
}

// Navbar ends //

// trending bar section starts //
.trending-bar {
  background: #f7f8f8;
  font-family: "Mukta", sans-serif;
  padding-top: 5px;
  .trending-bar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;

    border: 1px solid #d0cfcf;
  }
  .trending-img {
    height: 40px;
    img {
      height: inherit;
      padding: 4px 15px;
      padding-left: 0px;
    }
  }
  ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    list-style: none;
    li {
      a {
        line-height: 40px;
        color: #858688;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        &:hover {
          color: #03486c;
        }
      }
    }
    li:nth-child(n + 8) {
      display: none;
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .trending-bar {
    .trending-bar-wrapper {
      ul {
        li:nth-child(n + 5) {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .trending-bar {
    margin: 15px auto;
    .trending-bar-wrapper {
      display: block;
      .trending-img {
        text-align: center;
        border: none;
        border-bottom: 2px solid #a8c3d0;
      }
      ul {
        justify-content: space-between;
        height: 60px;
        overflow-x: scroll;
        padding-left: 15px;
        padding-bottom: 0px;
        li {
          a {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

// Trending bar section ends //

// ----------- Banner starts ----------------- //

.banner-wrapper {
  background-color: #f7f8f8;
  padding-top: 6px;
}

.banner {
  font-family: "Mukta", sans-serif;
  padding: 30px 30px 30px 30px;
  .primary-news {
    border-bottom: 1px solid #dadada;
    margin-bottom: 30px;
    .title {
      text-align: center;
      font-size: 60px;
      font-weight: 800;
      line-height: 135%;
      font-optical-sizing: auto;
      a {
        color: black;
      }
    }
    .subtitle {
      font-size: 14px;
      text-align: center;
      padding-bottom: 10px;
      color: grey;
      i {
        color: $pri-color;
        font-size: 10px;
      }
    }
    .image {
      padding-top: 10px;
      .img-container {
        width: 100%;
        overflow: hidden;
        img {
          width: 100%;
          max-height: 580px;
          object-fit: cover;
        }
      }
    }
    .text {
      text-align: center;
      padding: 15px 0px 20px;
      color: $desColor;
      font-size: 1.1rem;
    }
  }
  .main-news-wrapper {
    color: black;
  }
  .main-news {
    .img-container {
      width: 100%;
      height: 400px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title {
      text-align: center;
      font-size: 32px;
      font-weight: 600;
      padding: 15px 6% 5px;
      a {
        color: black;
      }
    }
    .subtitle {
      font-size: 12px;
      text-align: center;
      padding-bottom: 10px;
      color: grey;
      i {
        color: $pri-color;
        font-size: 10px;
      }
    }
    .text {
      text-align: center;
      padding-bottom: 30px;
      font-size: 1.1rem;
      color: $desColor;
    }
  }
  .main-news-side {
    .single {
      padding-bottom: 10px;
      .img-container {
        width: 100%;
        height: 150px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        padding-top: 5px;
        font-size: 18px;
        font-weight: 600;
        a {
          color: black;
        }
      }
    }
  }
}

.single-news:last-of-type {
  margin-right: 0px;
}

@media (max-width: 991.5px) {
  .banner {
    .main-news-side {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .single {
        width: 32%;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    font-family: "Mukta", sans-serif;
    background-color: #f7f8f8;
    padding-top: 15px;
    .primary-news {
      .title {
        font-size: 42px;
      }
    }
    .main-news {
      .img-container {
        width: 100%;
        height: 275px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        padding: 10px 0%;
        a {
          color: black;
        }
      }
      .subtitle {
        font-size: 12px;
        text-align: center;
        padding-bottom: 10px;
        color: grey;
        i {
          color: $pri-color;
        }
      }
      .text {
        text-align: center;
        padding-bottom: 30px;
      }
    }
    .main-news-side {
      .single {
        padding-bottom: 15px;
        .img-container {
          width: 100%;
          height: 240px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .title {
          padding-top: 5px;
          a {
            color: black;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .banner {
    padding: 0px;
    .primary-news {
      .container {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .main-news-side {
      display: block;
      .single {
        width: 100%;
      }
    }
    .main-news-below {
      padding: 0px 15px 15px 15px;
      .single-news-wrapper {
        .single-news {
          padding-right: 0px;
        }
      }
    }
    .main-news-wrapper {
      .container {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}

// ----------- Banner ends ----------------- //

// ----------- Samachar - trending starts ----------- //

.samachar-wrapper {
  background: #f7f8f8;
  padding: 30px 0px 0px 0px;
  font-family: "Mukta", sans-serif;
  .samachar {
    background: #ffffff;
    padding: 30px 0px 0px 30px;
    border: 1px solid #dadada;
    border-radius: 3px;
    .news {
      .head-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 34px;
        padding: 10px 0px 10px 0px;
        display: flex;
        a {
          color: black;
        }
        a:hover {
          color: $linkHoverColor;
          transition: all 300ms ease;
        }
        .line {
          border-bottom: 4px solid black;
          border-bottom-style: double;
          width: 95%;
          margin-bottom: 15px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .plus {
          font-size: 18px;
          a {
            color: $pri-color;
          }
          a:hover {
            color: darkred;
          }
        }
      }
      .main-news {
        .title {
          font-size: 22px;
          font-weight: 600;
          padding-bottom: 10px;
          a {
            color: black;
          }
        }
        .news-info {
          .image {
            width: 100%;
            height: 315px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .text {
            margin-bottom: 15px;
            font-size: 1.1rem;
            color: $desColor;
          }
        }
      }
      .bottom-news {
        margin-top: 30px;
        margin-bottom: 15px;
        .single {
          .image {
            width: 100%;
            height: 150px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .title {
            padding-top: 5px;
            a {
              color: black;
              font-size: 20px;
              font-weight: 600;
              font-size: 18px;
              line-height: 140%;
            }
          }
        }
      }
    }
    .trending {
      border: 1.5px solid #dadada;
      .trending-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 34px;
        background: $pri-color;
        padding: 10px 0px 10px 10px;
        border-bottom: 1.5px solid #dadada;
        a {
          color: white;
        }
        a:hover {
          color: #efefef;
        }
      }
      .all-trending-news {
        ul {
          padding-left: 0px;
          list-style-type: none;
          margin-bottom: 0px;
          li {
            display: flex;
            border-bottom: 1.5px solid #dadada;
            padding: 5px 0px;
            span {
              font-size: 42px;
              font-weight: 300;
              min-width: 45px;
              text-align: center;
              color: #d1d1d1;
              margin: auto 0px;
            }
            .title {
              margin-right: 15px;
              margin-top: 5px;
              font-size: 20px;
              font-weight: 500;
              margin: auto 0px;
              a {
                color: black;
              }
            }
          }
          li:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .samachar-wrapper {
    .samachar {
      padding: 30px;
      .news {
        .main-news {
          .news-info {
            .text {
              margin-top: 15px;
            }
          }
        }
        .bottom-news {
          .single {
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .samachar-wrapper {
    .samachar {
      padding: 15px;
    }
  }
}

// ----------- Samachar / trending ends ------------ //

// ---------- Special news starts ---------------- //

.special-news-wrapper {
  background-color: #f7f8f8;
  padding: 30px 0px;
  .special-news {
    padding: 30px 30px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 3px;
    .special-head-title {
      font-size: 32px;
      font-weight: 600;
      line-height: 34px;
      padding: 10px 0px 10px 0px;
      display: flex;
      a {
        color: black;
      }
      a:hover {
        color: $linkHoverColor;
        transition: all 300ms ease;
      }
      .line {
        border-bottom: 4px solid black;
        border-bottom-style: double;
        width: 95%;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .plus {
        font-size: 18px;
        a {
          color: $pri-color;
        }
        a:hover {
          color: darkred;
        }
      }
    }
    .special-main {
      .image {
        width: 100%;
        height: 300px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        font-size: 28px;
        font-weight: 600;
        padding-top: 10px;

        a {
          color: black;
        }
      }
      .time-ago {
        font-size: 12px;
        color: grey;
        font-weight: 400;
        padding-top: 5px;
        i {
          color: $pri-color;
          padding-right: 5px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .special-news-wrapper {
    .special-news {
      .special-main {
        padding-bottom: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  .special-news-wrapper {
    .special-news {
      padding: 30px 15px;
      .special-single {
        padding-bottom: 15px;
        .image {
          height: 240px;
        }
      }
    }
  }
}

// ---------- Special news ends ---------------- //

// ----------- Politics news starts ----------- //

.politics-wrapper {
  background-color: #e8e8e8;
  padding: 30px 0px;
  .politics {
    background: #e8e8e8;
    padding: 30px 30px;
    .politics-head-title {
      font-size: 32px;
      font-weight: 600;
      line-height: 34px;
      padding: 10px 0px 10px 0px;
      display: flex;
      a {
        color: black;
      }
      a:hover {
        color: $linkHoverColor !important;
        transition: all 0.3s ease;
      }
      .line {
        border-bottom: 4px solid black;
        border-bottom-style: double;
        width: 95%;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .plus {
        font-size: 18px;
        a {
          color: $pri-color;
        }
        a:hover {
          color: darkred;
        }
      }
    }
    .main {
      display: flex;
      flex-direction: row;
      background: #ffffff;
      .image {
        width: 65%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        width: 35%;
        padding-left: 15px;
        .title {
          font-weight: 600;
          padding-top: 10px;
          font-size: 24px;
          a {
            color: black;
          }
        }
        .description {
          padding-top: 10px;
          padding-right: 10px;
        }
        .time-ago {
          font-size: 12px;
          color: grey;
          font-weight: 400;
          padding-top: 5px;
          i {
            color: $pri-color;
            padding-right: 5px;
          }
        }
      }
    }
    .bottom {
      padding-top: 15px;
      .bottom-single {
        padding: 10px;
        background: #ffffff;
        .title {
          font-size: 18px;
          font-weight: 600;
          a {
            color: black;
          }
        }
        .time-ago {
          font-size: 12px;
          color: grey;
          font-weight: 400;
          padding-top: 5px;
          i {
            color: $pri-color;
            padding-right: 5px;
          }
        }
      }
    }
    .side-news {
      background-color: white;
      .image {
        width: 100%;
        height: 150px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        padding: 10px;
        .title {
          font-size: 18px;
          font-weight: 600;
          a {
            color: black;
          }
        }
        .time-ago {
          font-size: 12px;
          color: grey;
          font-weight: 400;
          padding-top: 5px;
          i {
            color: $pri-color;
            padding-right: 5px;
          }
        }
        .description {
          padding-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .politics-wrapper {
    .politics {
      padding: 0px;
      .politics-head-title {
        padding-left: 15px;
      }
      .main {
        padding: 30px;
      }
      .bottom {
        .bottom-single {
          margin-bottom: 15px;
          padding: 30px;
        }
      }
      .side-news {
        .text {
          padding: 30px;
        }
        .image {
          padding: 30px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .politics-wrapper {
    .politics {
      padding: 0px;
      .politics-head-title {
        padding-left: 15px;
      }
      .main {
        padding: 15px;
        display: block;
        .image {
          width: 100%;
        }
        .text {
          width: 100%;
          padding-left: 0px;
        }
      }
      .bottom {
        .bottom-single {
          margin-bottom: 15px;
          padding: 15px;
        }
      }
      .side-news {
        .image {
          padding: 15px;
        }
        .text {
          padding: 15px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .politics-wrapper {
    .politics {
      .side-news {
        .image {
          height: 240px;
          width: 100%;
        }
      }
    }
  }
}

// ----------- Politics news starts ----------- //

// ---------- Business news starts ---------------- //

.business-news-wrapper {
  background-color: #f7f8f8;
  padding: 30px 0px;
  .business-news {
    padding: 30px 30px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 3px;
    .business-head-title {
      font-size: 32px;
      font-weight: 600;
      line-height: 34px;
      padding: 10px 0px 10px 0px;
      display: flex;
      a {
        color: black;
      }
      a:hover {
        color: $linkHoverColor !important;
        transition: all 0.3s ease;
      }
      .line {
        border-bottom: 4px solid black;
        border-bottom-style: double;
        width: 95%;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .plus {
        font-size: 18px;
        a {
          color: $pri-color;
        }
        a:hover {
          color: darkred;
        }
      }
    }
    .business-main {
      .image {
        width: 100%;
        height: 350px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        font-size: 28px;
        font-weight: 600;
        padding-top: 10px;
        text-align: center;
        a {
          color: black;
        }
      }
      .subtitle {
        font-size: 14px;
        text-align: center;
        padding-bottom: 10px;
        color: grey;
        i {
          color: $pri-color;
          font-size: 10px;
        }
      }
    }
    .business-single {
      .image {
        width: 100%;
        height: 150px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        font-weight: 600;
        padding-top: 5px;
        a {
          color: black;
        }
        .time-ago {
          font-size: 12px;
          color: grey;
          font-weight: 400;
          padding-top: 5px;
          i {
            color: $pri-color;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .business-news-wrapper {
    .business-news {
      .business-main {
        padding-bottom: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  .business-news-wrapper {
    .business-news {
      padding: 30px 15px;
      .business-single {
        padding-bottom: 15px;
        .image {
          height: 240px;
        }
      }
      .business-main {
        .image {
          height: 240px;
        }
      }
    }
  }
}

// ---------- Business news ends ---------------- //

// ------------ Art / Entertainment news starts ---------- //

.art-news-wrapper {
  padding-bottom: 30px;
  background: #f7f8f8;
  .art-news-border {
    padding: 30px;
    border: 1px solid #dadada;
    background: linear-gradient(to right, #8d1a87, #a5006e);
    border-radius: 3px;
    .art-title {
      font-size: 32px;
      font-weight: 600;
      line-height: 34px;
      padding: 10px 0px 10px 0px;
      display: flex;
      a {
        color: white;
        white-space: nowrap;
      }
      a:hover {
        color: black;
        transition: all 0.3s ease;
      }
      .line {
        border-bottom: 4px solid black;
        border-bottom-style: double;
        width: 95%;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .plus {
        font-size: 18px;
        a {
          color: white;
        }
        a:hover {
          color: red;
        }
      }
    }
    .art-news {
      .img-container {
        width: 100%;
        height: 400px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        text-align: center;
        padding: 10px 10%;
        font-size: 32px;
        font-weight: 600;
        a {
          color: white;
        }
        a:hover {
          color: black !important;
        }
      }
      .subtitle {
        font-size: 12px;
        text-align: center;
        padding-bottom: 10px;
        color: white;
        i {
          color: $pri-color;
        }
      }
      .text {
        text-align: center;
        padding-bottom: 30px;
        font-size: 1.1rem;
        color: white;
      }
    }
    .art-news-side {
      .single {
        padding-bottom: 10px;
        .img-container {
          width: 100%;
          height: 150px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .title {
          padding-top: 5px;
          font-size: 18px;
          font-weight: 600;
          line-height: 140%;
          a {
            color: white;
          }
          a:hover {
            color: black !important;
          }
        }
      }
    }
    .art-news-below {
      .single-news-wrapper {
        .single-news {
          display: flex;
          flex-direction: row;
          border-right: 1px solid #dadada;
          padding-right: 15px;
          .image {
            width: 270px;
            height: 120px;
            overflow: hidden;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .title {
            padding-left: 15px;
            a {
              color: white;
              font-weight: 600;
              font-size: 20px;
            }
            span {
              display: block;
            }
          }
        }
        &:last-child {
          .single-news {
            border-right: none;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .art-news-wrapper {
    .art-news-border {
      .art-news-side {
        display: flex;
        justify-content: space-between;
        .single {
          width: 32%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .art-news-wrapper {
    .art-news-border {
      padding: 30px 15px;
      .art-news {
        .title {
          padding: 10px 0%;
          font-size: 22px;
        }
        .img-container {
          height: 240px;
        }
      }
      .art-news-side {
        display: block;
        .single {
          width: 100%;
          .img-container {
            height: 250px;
          }
        }
      }
    }
  }
}

// ------------ Art / Entertainment news ends ---------- //

// ------------- Theatre starts ---------------- //

.theatre-wrapper {
  background: #f7f8f8;
  .theatre {
    position: relative;
    padding: 30px;
    .theatre-background {
      background: linear-gradient(to right, #83327f, #b42751);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .theatre-head {
      margin-bottom: 30px;
      .logo {
        width: 200px;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .theatre-main-single {
      iframe {
        width: 100%;
        height: 350px;
      }
    }
    .theatre-side-single {
      iframe {
        width: 100%;
        height: 170px;
      }
    }
  }
}

@media (max-width: 992px) {
  .theatre-wrapper {
    .theatre {
      .theatre-main-single {
        margin-bottom: 15px;
        iframe {
          width: 100%;
          height: 350px;
        }
      }
      .theatre-side-single {
        margin-bottom: 15px;
        iframe {
          width: 100%;
          height: 350px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .theatre-wrapper {
    .theatre {
      padding: 15px;
    }
  }
}

// ------------- Theatre ends ---------------- //

// ------------ Sports starts --------------- //

.sports-wrapper {
  background: #f7f8f8;
  padding: 30px 0px 0px 0px;
  font-family: "Mukta", sans-serif;
  .sports {
    background: #ffffff;
    padding: 30px 30px;
    border: 1px solid #dadada;
    border-radius: 3px;
    .news {
      .sports-divider {
        border-bottom: 1px solid #dadada;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 10px;
      }
      .head-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 34px;
        padding: 10px 0px 10px 0px;
        display: flex;
        a {
          color: black;
          white-space: nowrap;
        }
        a:hover {
          color: $linkHoverColor !important;
          transition: all 0.3s ease;
        }
        .line {
          border-bottom: 4px solid black;
          border-bottom-style: double;
          width: 95%;
          margin-bottom: 15px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .plus {
          font-size: 18px;
          a {
            color: $pri-color;
          }
          a:hover {
            color: darkred;
          }
        }
      }
      .main-news {
        .title {
          font-size: 22px;
          font-weight: 600;
          padding-bottom: 10px;
          a {
            color: black;
          }
        }
        .news-info {
          .image {
            width: 100%;
            height: 350px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .text {
            margin-bottom: 15px;
            font-size: 1.1rem;
            color: $desColor;
          }
          .time-ago {
            font-size: 12px;
            color: grey;
            font-weight: 400;
            padding-top: 5px;
            i {
              color: $pri-color;
              padding-right: 5px;
            }
          }
        }
      }
      .side-news {
        padding-bottom: 10px;
        .image {
          width: 100%;
          height: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .title {
          font-weight: 600;
          font-size: 20px;
          padding-top: 5px;
          line-height: 140%;
          a {
            color: black;
          }
        }
        .time-ago {
          font-size: 12px;
          color: grey;
          font-weight: 400;
          padding-top: 5px;
          i {
            color: $pri-color;
            padding-right: 5px;
          }
        }
        .description {
          font-size: 1.1rem;
        }
      }
      .bottom-news {
        margin-top: 30px;
        margin-bottom: 15px;
        .single {
          .image {
            width: 100%;
            height: 130px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .title {
            padding-top: 5px;
            a {
              color: black;
              font-size: 18px;
              font-weight: 600;
              line-height: 140%;
            }
          }
          .time-ago {
            font-size: 12px;
            color: grey;
            font-weight: 400;
            padding-top: 5px;
            i {
              color: $pri-color;
              padding-right: 5px;
            }
          }
        }
      }
    }
    .trending {
      border: 1.5px solid #dadada;
      .trending-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 34px;
        background: $pri-color;
        padding: 10px 0px 10px 10px;
        border-bottom: 1.5px solid #dadada;
        a {
          color: white;
        }
      }
      .all-trending-news {
        ul {
          padding-left: 0px;
          list-style-type: none;
          margin-bottom: 0px;
          li {
            display: flex;
            border-bottom: 1.5px solid #dadada;
            span {
              font-size: 42px;
              font-weight: 300;
              min-width: 45px;
              text-align: center;
              color: #d1d1d1;
            }
            .title {
              margin-right: 5px;
              margin-top: 5px;
              font-size: 16px;
              font-weight: 500;
              a {
                color: black;
              }
            }
          }
          li:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .sports-wrapper {
    .sports {
      .news {
        .bottom-news {
          .single {
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .sports-wrapper {
    .sports {
      padding: 30px 15px;
      .news {
        .main-news {
          .news-info {
            .image {
              height: 240px;
            }
          }
        }
        .bottom-news {
          .single {
            padding-bottom: 15px;
            .image {
              height: 240px;
            }
          }
        }
        .side-news {
          .image {
            height: 240px;
          }
        }
      }
    }
  }
}

// ------------ Sports ends --------------- //

// ------------ Interview - opinion starts --------------- //

.interview-opinion-wrapper {
  background: #f7f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
  .interview {
    padding: 30px;
    background: white;
    border: 1px solid #dadada;
    border-radius: 3px;
    .interview-head-title {
      display: flex;
      font-size: 32px;
      font-weight: 600;
      line-height: 34px;
      padding: 10px 0px 10px 0px;
      a {
        color: black;
        white-space: nowrap;
      }
      a:hover {
        color: $linkHoverColor !important;
        transition: all 0.3s ease;
      }
      .line {
        border-bottom: 4px solid black;
        border-bottom-style: double;
        width: 95%;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .plus {
        font-size: 18px;
        a {
          color: $pri-color;
        }
        a:hover {
          color: darkred;
        }
      }
    }
    .interview-main {
      a {
        color: white;
      }
      .single {
        position: relative;
        .image {
          width: 100%;
          height: 400px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(to top, black, transparent);
        }
        .overlay:hover {
          background: linear-gradient(to top, #252525, transparent);
          transition: background 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .title {
          position: absolute;
          bottom: 20px;
          width: 100%;
          text-align: center;
          font-size: 30px;
          font-weight: 600;
          color: white !important;
        }
      }
    }
    .interview-bottom {
      padding-top: 30px;
      a {
        color: white;
      }
      .single {
        position: relative;
        .image {
          width: 100%;
          height: 220px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(to top, black, transparent);
        }
        .overlay:hover {
          background: linear-gradient(to top, #252525, transparent);
          transition: background 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .title {
          position: absolute;
          bottom: 20px;
          width: 100%;
          text-align: center;
          font-size: 30px;
          font-weight: 600;
          color: white !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .interview-opinion-wrapper {
    .interview {
      padding: 30px 15px;
      .interview-main {
        .single {
          .image {
            height: 240px;
          }
        }
      }
      .interview-bottom {
        .single {
          .image {
            height: 240px;
          }
        }
      }
    }
  }
}

// ------------ Interview - opinion ends --------------- //

// ----------- Opinion starts ------------- //

.opinion {
  background: white;
  padding-top: 30px;
  margin-left: 10px;
  border: 1px solid #dadada;
  border-radius: 3px;
  .head-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 34px;
    display: flex;
    padding: 10px 0px 10px 0px;
    a {
      color: black;
      white-space: nowrap;
    }
    a:hover {
      color: $linkHoverColor !important;
      transition: all 0.3s ease;
    }
    .line {
      border-bottom: 4px solid black;
      border-bottom-style: double;
      width: 95%;
      margin-bottom: 15px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .plus {
      font-size: 18px;
      a {
        color: $pri-color;
      }
      a:hover {
        color: darkred;
      }
    }
  }
  .news {
    .single {
      padding: 18px 0px;
      .img-container {
        .image {
          overflow: hidden;
          border-radius: 100%;
          border: 1px solid grey;
          margin: auto;
          width: 150px;
          height: 150px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding: 5px 0px;
        a {
          color: black;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .opinion {
    margin-left: 0px;
    margin-top: 30px;
  }
}

// ----------- Opinion starts ------------- //

// ----------- Feature starts --------------- //

.feature-news-wrapper {
  background: #f7f8f8;
  padding-bottom: 30px;
  .feature-news {
    padding: 30px;
    background: white;
    border: 1px solid #dadada;
    border-radius: 3px;
    .column-single {
      .head-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 34px;
        padding: 10px 0px 20px 0px;
        display: flex;
        a {
          color: black;
          white-space: nowrap;
        }
        a:hover {
          color: $linkHoverColor !important;
          transition: all 0.3s ease;
        }
        .line {
          border-bottom: 4px solid black;
          border-bottom-style: double;
          width: 95%;
          margin-bottom: 15px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .plus {
          font-size: 18px;
          a {
            color: $pri-color;
          }
          a:hover {
            color: darkred;
          }
        }
      }
      .main {
        .main-image {
          width: 100%;
          height: 220px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .main-title {
          font-size: 22px;
          font-weight: 600;
          padding-top: 15px;
          padding-bottom: 30px;
          line-height: 140%;
          a {
            color: black;
            text-decoration: none;
          }
          a:hover {
            color: #41629c !important;
            transition: 0.3s ease;
          }
        }
      }
      .other {
        .single {
          border-top: 1px dotted grey;
          padding: 15px 0px;
          font-size: 18px;
          font-weight: 500;
          line-height: 140%;
          display: flex;
          i {
            color: $pri-color;
            padding-right: 5px;
            padding-top: 3px;
            display: inline-block;
          }

          a {
            text-decoration: none;

            color: #353535;
          }
          a:hover {
            color: #41629c !important;
            transition: 0.3s ease;
          }
        }
      }
    }
  }
}

.feature-bottom-wrapper {
  background: #f7f8f8;
  padding-bottom: 30px;
  .feature-bottom {
    padding: 30px;
    .feature-bottom-title {
      font-size: 32px;
      font-weight: 600;
      line-height: 34px;
      padding: 10px 0px 10px 0px;
      display: flex;
      a {
        color: black;
        white-space: nowrap;
      }
      a:hover {
        color: $linkHoverColor !important;
        transition: all 0.3s ease;
      }
      .line {
        border-bottom: 4px solid black;
        border-bottom-style: double;
        width: 95%;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .plus {
        font-size: 18px;
        a {
          color: $pri-color;
        }
        a:hover {
          color: darkred;
        }
      }
    }
    .single {
      .image {
        width: 100%;
        height: 160px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        font-size: 22px;
        font-weight: 600;
        padding-top: 10px;
        line-height: 140%;
        a {
          color: black;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .feature-bottom-wrapper {
    .feature-bottom {
      .single {
        padding-bottom: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  .feature-news-wrapper {
    .feature-news {
      padding: 30px 15px;
      .column-single {
        .main {
          .main-image {
            height: 240px;
          }
        }
      }
    }
  }
  .feature-bottom-wrapper {
    .feature-bottom {
      padding: 30px 0px;
      .single {
        .image {
          height: 240px;
        }
      }
    }
  }
}

// ----------- Feature ends --------------- //

// ----------- Go to top starts ------------- //

// ----------- Go to top ends -------------- //

#go-top-button {
  display: none;
  border: none;
  color: #ffffff;
  height: 38px;
  width: 38px;
  border-radius: 12%;
  box-shadow: 1px 1.5px 1.5px 0.5px #8d8d8d;
  padding-top: 3px;
  background-color: $pri-color;
  position: fixed;
  bottom: 70px;
  right: 15px;
  font-size: 22px;
  font-weight: 600;
}

#go-top-button:hover {
  background-color: #ff0000;
}

@media (max-width: 576px) {
  #go-top-button {
    display: none;
  }
}

// ----------- Footer starts ---------------- //

footer {
  .footer-main {
    font-family: "Mukta", sans-serif;
    background-color: #00658c;
    .container {
      // .footer-top {
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: space-between;
      //   border-bottom: 1px solid rgb(153, 153, 153);
      //   width: 100%;
      //   line-height: 50px;
      //   margin-top: 15px;
      //   .title {
      //     font-size: 20px;
      //     font-family: "Monteserrat", sans-serif;
      //     font-weight: 800;
      //   }
      //   .text {
      //     font-size: 15px;
      //     font-family: "Nunito";
      //     color: grey;
      //   }
      //   .sign-up {
      //     display: flex;
      //     flex-direction: row;
      //     line-height: 50px;
      //     .img-container {
      //       padding-right: 10px;
      //       img {
      //         width: 50px;
      //         object-fit: contain;
      //       }
      //     }
      //     a {
      //       padding: 8px 15px;
      //       background-color: $pri-color;
      //       color: white;
      //       text-decoration: none;
      //       border-radius: 3px;
      //     }
      //     a:hover {
      //       background: #d82027;
      //     }
      //   }
      // }
      .footer-center {
        padding-top: 60px;
        padding-bottom: 30px;
        .footer-info {
          padding: 0px 20px;
          .logo-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .title {
            font-size: 30px;
            font-weight: 700;
            text-align: right;
            margin-top: 10px;
            margin-bottom: 10px;
            color: white !important;
          }
          .info {
            color: white;
            ul {
              padding-left: 0px;
              list-style-type: none;
              li {
                text-align: right;
                a {
                  color: white;
                }
                a:hover {
                  color: $pri-color;
                }
              }
            }
          }
        }
        .site-navigation {
          padding: 0px 20px;
          color: white;
          .title {
            border-bottom: 1.5px solid $pri-color;
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 600;
            color: white !important;
          }
          ul {
            padding-left: 0px;
            list-style-type: none;
            li {
              padding: 2px 0px;
              a {
                color: white;
              }
              a:hover {
                color: $pri-color;
              }
            }
          }
        }
        .advertisement-contact {
          padding: 0px 20px;
          color: white;
          .title {
            border-bottom: 1.5px solid $pri-color;
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 600;
            color: white !important;
          }
          .contact {
            color: white;
            a {
              color: white;
            }
            a:hover {
              color: $pri-color;
            }
          }
          .explore {
            color: white;
            .title {
              width: fit-content;
              margin-top: 15px;
              color: white !important;
            }
            ul {
              padding-left: 0px;
              list-style-type: none;
              li {
                padding: 2px 0px;
                a {
                  color: white;
                }
                a:hover {
                  color: $pri-color;
                }
              }
            }
          }
          .social {
            font-size: 18px;
            color: white;
            .title {
              width: fit-content;
              color: white !important;
            }
            ul {
              list-style-type: none;
              display: flex;

              padding-left: 0px;
              margin-bottom: 0px;
              a {
                color: white;
              }
              li {
                padding: 3px 6px;
              }
              li:first-child {
                padding-left: 0px;
              }
              li:last-child {
                padding-right: 0px;
              }
              a:hover {
                color: $pri-color;
              }
            }
          }
        }
      }
    }
    .footer-bottom {
      background-color: $pri-color;
      line-height: 60px;
      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        a {
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  footer {
    .footer-main {
      .container {
        .footer-top {
          .sign-up {
            a {
              padding: 8px 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  footer {
    .footer-main {
      .container {
        .footer-top {
          flex-direction: column;
          text-align: center;
          .sign-up {
            margin: 0 auto;
          }
          .text {
            line-height: 160%;
          }
          .social {
            ul {
              width: 175px;
              margin: 0 auto;
            }
          }
        }
        .footer-center {
          .footer-info {
            padding: 0px 0px;
            .logo-wrapper {
              img {
                width: 400px;
              }
            }
            .title {
              text-align: left;
            }
            .info {
              text-align: left;
              ul {
                li {
                  text-align: left;
                }
              }
            }
          }
          .site-navigation {
            padding: 0px 0px;
          }
          .advertisement-contact {
            padding: 0px 0px;
          }
        }
      }
      .footer-bottom {
        padding: 10px 0px;
        .container {
          display: flex;
          flex-direction: column;
          .terms {
            line-height: 160%;
          }
          .copyright {
            line-height: 160%;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  footer {
    .footer-main {
      .container {
        .footer-top {
          flex-direction: column;
          text-align: center;
          padding: 0px 15px;
          .sign-up {
            margin: 0 auto;
          }
          .text {
            line-height: 160%;
          }
          .social {
            ul {
              width: 175px;
              margin: 0 auto;
            }
          }
        }
        .footer-center {
          .footer-info {
            padding: 0px 0px;
            .logo-wrapper {
              img {
                width: 100%;
              }
            }
            .title {
              text-align: left;
            }
            .info {
              text-align: left;
              ul {
                li {
                  text-align: left;
                }
              }
            }
          }
          .site-navigation {
            padding: 0px 0px;
          }
          .advertisement-contact {
            padding: 0px 0px;
          }
        }
      }
      .footer-bottom {
        padding: 10px 0px;
        .container {
          display: flex;
          flex-direction: column;
          .terms {
            line-height: 160%;
          }
          .copyright {
            line-height: 160%;
          }
        }
      }
    }
  }
}

// ----------- Footer ends ---------------- //

// ----------- Single page CSS starts ----------- //

.category-time-wrapper {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 30px;
  .category-time {
    margin: 0 auto;
    width: fit-content;
    padding: 10px 0px;
    ul {
      list-style-type: none;
      padding-left: 0px;
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;
      li {
        .post-category {
          color: #969696;
          a {
            span {
              font-weight: 900;
              color: $pri-color;
            }
          }
          strong {
            color: black;
          }
        }
        .post-date {
          span {
            color: #969696;
          }
        }
      }
    }
  }
}

.single-page-title-wrapper {
  padding-bottom: 20px;
  .single-post-title {
    font-size: 56px;
    font-weight: 900;
    line-height: 140%;
    color: #333;
  }
  .single-post-subtitle {
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    color: #8d8989;
  }
}

.author-shares {
  display: flex;
  flex-direction: row;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  padding: 5px 0px;
  justify-content: space-between;
  margin-bottom: 30px;
  .author-name {
    line-height: 40px;
    color: #004158;
    font-size: 18px;
    font-weight: 800;
  }
  .shares {
    display: flex;
    flex-direction: row;
    .share-no {
      font-size: 14px;
      padding-right: 5px;
      color: grey;
      span {
        display: block;
        text-align: center;
        width: 100%;
        font-weight: 800;
        font-size: 18px;
      }
      .share-title {
        margin-top: -10px;
      }
    }
  }
}

.single-main-image {
  padding-bottom: 30px;
  img {
    width: 100%;
    height: auto;
  }
}

.single-main-text {
  text-align: justify;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.related-news {
  .related-news-title {
  }
  .related-news-items {
    display: flex;
    flex-direction: row;
    .related-single {
      .image {
        img {
        }
      }
    }
  }
}

.recommended-wrapper {
  padding-bottom: 30px;
  .single-recommended {
    .recommended-title {
      background: #0083b3;
      color: white;
      font-weight: 600;
      font-size: 32px;
      line-height: 50px;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0px 1px 1px 1px #696969;
    }
  }
  .recommended-news {
    padding-top: 30px;
    .single {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 15px;
      .single-image {
        overflow: hidden;
        width: 260px;
        height: 75px;
        min-width: 105px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .single-title {
        padding-left: 15px;
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
      }
    }
  }
}

.latest-wrapper {
  .single-latest {
    .latest-title {
      background: #0083b3;
      color: white;
      font-weight: 600;
      font-size: 32px;
      line-height: 50px;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0px 1px 1px 1px #696969;
    }
  }
  .latest-news {
    padding-top: 30px;
    .single {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 15px;
      .single-image {
        overflow: hidden;
        width: 260px;
        height: 75px;
        min-width: 105px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .single-title {
        padding-left: 15px;
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
      }
    }
  }
}
// ----------- Single page CSS ends ------------- //
